header{
	background-image: reseau.png;
}

.menu{
	width: 100%; height: 100px;
	background-color: rgba(238,238,228, 0.1);
	line-height: 66px;
}

.prenom_nom{
	margin: 0; padding: 25px 0;
	color: rgb(238,238,228);
	text-transform: uppercase;
	font-family: "Roboto";
	font-weight: 900;
	font-size: 25px;
	letter-spacing: 2px;
}

.m-left{
	float: left;
}

.m-right{
	float: right;	
	padding: 25px 0;
}

a{
	font-size: 15px;
}

.m-link{
	text-decoration: none;
	color: rgb(238,238,228);
	justify-content: left;
	text-transform: uppercase;
	font-weight: 500;
	padding: 0; margin: 0 15px;
	transition: all 0.3s ease-in-out;
	border-bottom: 2px solid transparent;
	padding-bottom: 3px;
}

.m-link:hover{
	border-color: rgb(238,238,228);
}

.m-link i{
	margin-right: 3px;
}


.m-nav-toggle{
	width: 40px;
	height: 66px;
	padding: 25px 0;

	display: none;
	align-items: center;
	float: right;
	cursor: pointer;

}

span.m-toggle-icons, span.m-toggle-icons:before, span.m-toggle-icons:after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: rgb(238,238,228);
	position: relative;
}

span.m-toggle-icons:before{top:10px;}
span.m-toggle-icons:after{top:-14px;}

.m-right.is-open{
	transform: translateX(0);
}


@media only screen and (max-width: 720px){
	.m-right{
		position: absolute;
		top: 100px; right: 0;
		width: 150px;
		height: 100%;
		background-color: rgba(238,238,228, 0.1);
		opacity: 0.9;
		transform: translateX(100%);
		transition: all 0.4s ease-in-out;
	}
	.m-link{
		display: block;
		text-align: center;
		justify-content: center;
		padding: 0 ;
		margin: 0;
	}
	.m-link:hover{
		background:rgba(0,0,0, 1);
		border: none;
	}
	.m-nav-toggle{
		display: flex;
	}
}