@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body{
	margin: 0; padding: 0px;
	font-family: "Lato";
	background: rgb(238,238,228);
	overflow-x: hidden;
	background-image: url(../images/reseau.png);
	background-color: rgba(255, 255, 255, 0.3);
	background-size: cover ;
}

.inner{
	width: 90%;
	margin: auto;
}